h1 {
    text-align: center;
    font-family: sans-serif;
}

.btn {
    /*improve style*/
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(black, grey);
    font-family: sans-serif;
    font-size: larger;
    color: white;
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border: 0;
}

/* this isn't working
.btn:hover {
    background-color: red !important;
  }*/